<%- include("partials/header.ejs") %>
<div class="container">
  <%- include("partials/headerbar.ejs") %>
  <div class="under">
    <div class="sidebar">
      <form action="/loaisanh" method="POST">
        <input
          type="submit"
          class="sidebar-item"
          name="loaisanh"
          value="DANH SÁCH LOẠI SẢNH"
        />
      </form>
      <form action="/ca" method="POST">
        <input
          type="submit"
          class="sidebar-item"
          name="ca"
          value="DANH SÁCH CA"
          style="color: green"
        />
      </form>
      <form action="/monan" method="POST">
        <input
          type="submit"
          class="sidebar-item"
          name="monan"
          value="DANH SÁCH MÓN ĂN"
        />
      </form>
      <form action="/dichvu" method="POST">
        <input
          type="submit"
          class="sidebar-item"
          name="dichvu"
          value="DANH SÁCH DỊCH VỤ"
        />
      </form>
      <form action="/thamso" method="POST">
        <input
          type="submit"
          class="sidebar-item"
          name="thamso"
          value="THAM SỐ KHÁC"
        />
      </form>
    </div>
    <div class="rightcontent">
      <div class="intable">
        <table class="danhsachsanh">
          <tr>
            <th>STT</th>
            <th>MÃ CA</th>
            <th>TÊN CA</th>
            <th>GIỜ BẮT ĐẦU</th>
            <th>GIỜ KẾT THÚC</th>
            <th>TÌNH TRẠNG</th>
          </tr>
          <% for (let i = 0; i < table.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= table[i].maca %></td>
              <td><%= table[i].tenca %></td>
              <td><%= table[i].giobatdau %></td>
              <td><%= table[i].gioketthuc %></td>
              <td><%= table[i].tinhtrang %></td>
            </tr>
            <% } %>
        </table>
      </div>
      <div class="buttons-container">
        <!-- Nút Thêm -->
        <div class="button-wrapper">
          <form action="/themca" method="POST">
            <div class="button-background"></div>
            <button type="submit" class="button-style">Thêm</button>
          </form>
        </div>
        <!-- Nút Xóa -->
        <div class="button-wrapper">
          <form action="/xoaca" method="POST">
            <div class="button-background"></div>
            <button type="submit" class="button-style">Xóa</button>
          </form>
        </div>
        <!-- Nút Sửa -->
        <div class="button-wrapper">
          <form action="/suaca" method="POST">
            <div class="button-background"></div>
            <button type="submit" class="button-style">Sửa</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="popup">
    <div class="popup-content">
      <div
      style="
        position: absolute;
        margin-left: 500px;
        z-index: 1;
        margin-bottom: 250px;
      "
      >
      <form action="/ca" method="POST">
        <input type="image" name="thaydoi" src="staff/cross.svg" alt="" />
      </form>
      </div>
      <div class="firsttext">SỬA CA</div>
      <form action="/suacangay" method="POST">
        <div class="data">
          <select name="maca">
            <option value="" disabled selected hidden>Mã ca</option>
            <% MC.forEach(function(row) { %>
              <option value="<%= row.maca %>"><%= row.maca %></option>
            <% }); %>
          </select>
          <input type="text" placeholder="Tên ca" name="tenca" />
          <input type="time" placeholder="Giờ bắt đầu" name="giobatdau"/>
          <input type="time" placeholder="Giờ kết thúc" name="gioketthuc"/>
        </div>
        <div class="suaca">
          <input
            class="passtxt"
            type="submit"
            name="thaydoi"
            value="SỬA NGAY"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  <% if (locals.errorFromServer) { %>
    alert("Đã xảy ra lỗi: <%= errorFromServer %>");
  <% } %>

  <% if (locals.GBDGKT) { %>
    alert("Đã xảy ra lỗi: <%= GBDGKT %>");
  <% } %>

  <% if (locals.TrungCa) { %>
    alert("Đã xảy ra lỗi: <%= TrungCa %>");
  <% } %>
</script>
<%- include("partials/footer.ejs") %>